.portfolio {
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;
  text-align: center;
}
.portfolio-title-list {
}
.portfolio-list-item {
}
.portfolio-list-card {
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
}
.portfolio-list-text {
}
