.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;

  text-align: center;
}
.team-list {
}
.team-list-item {
  background-color: #ffffff;
}
.team-list-image {
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  text-align: center;
}
.team-list-text {
  color: #434455;
  text-align: center;
}
